{
    "presets": ["next/babel"],
    "env": {
        "development": {
            "plugins": [
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "style": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "style": true
                    }
                ]
            ]
        }
    }
}
